{
    "search-criteria": {
        "timer": 1000,

        "min-price": 300,
        "max-price": 450,

        "aim": "rent",
        "type": "flat",
        "min-rooms": "1",
        "max-rooms": "2",

        "city": "london",

        "keywords": ["garage"],
        "not-keywords": ["t0", "t3", "t4", "t5", "some location"]
    },
    "databases": [
        {
            "name": "Something",
            "url": "http://something.com/{{aim}}/{{type}}/t{{min-rooms}}-t{{max-rooms}}/{{city}}?pricemax={{max-price}}&num=50&image=0&orderby=rel&pricemin={{min-price}}&page={{page}}",
            "page-start": 1,
            "page-max": 20,
            "page-gap": 1,
            "type": { "flat": "flats", "house": "houses" },
            "aim": { "rent": "renting", "buy": "buying"},
            "list": {
                "pages-list": "#navigation_links a.page_number",
                "element": "#wrapper .elements-to-iterate",
                "title-el": "h2",
                "base-url": "http://something.com",
                "url-el": "h2 a",
                "description-el": ".description",
                "price-el": ".price",
                "inside-item": {
                    "element": "#wrapper .element-page-inside",
                    "description-el": ".decription"
                }
            }
        }
    ]
}